<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Student Information">

        <div class="container">
            <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
                <div class="for-group">
                    <mat-form-field class="example-full-width">
                        <mat-label for="name">Name</mat-label>
                        <input matInput placeholder="Ex. 100" #input formControlName="name">
                        <div *ngIf="studentForm.controls['name'].invalid && (studentForm.controls['name'].dirty || studentForm.controls['name'].touched)"
                            class="alert alert-danger">
                            Name is required
                        </div>
                    </mat-form-field>
                </div>

                <div class="for-group">
                    <mat-form-field class="example-full-width">
                        <mat-label for="father_name">Father's Name</mat-label>
                        <input matInput placeholder="Ex. 100" #input formControlName="father_name">
                        <div *ngIf="studentForm.controls['father_name'].invalid && (studentForm.controls['father_name'].dirty || studentForm.controls['father_name'].touched)"
                            class="alert alert-danger">
                            Father's Name is required
                        </div>
                    </mat-form-field>
                </div>

                <div class="for-group">
                    <mat-form-field class="example-full-width">
                        <mat-label for="mother_name">Mother's Name</mat-label>
                        <input matInput placeholder="Ex. 100" #input formControlName="mother_name">
                        <div *ngIf="studentForm.controls['mother_name'].invalid && (studentForm.controls['mother_name'].dirty || studentForm.controls['mother_name'].touched)"
                            class="alert alert-danger">
                            Mother's Name is required
                        </div>
                    </mat-form-field>
                </div>

                <div class="for-group">
                    <mat-form-field class="example-full-width">
                        <mat-label for="mobile">Mobile</mat-label>
                        <input matInput placeholder="Ex. 100" #input formControlName="mobile">
                        <div *ngIf="studentForm.controls['mobile'].invalid && (studentForm.controls['mobile'].dirty || studentForm.controls['mobile'].touched)"
                            class="alert alert-danger">
                            Mobile is required
                        </div>
                    </mat-form-field>
                </div>

                <div class="for-group">
                    <mat-form-field class="example-full-width">
                        <mat-label for="address">address</mat-label>
                        <input matInput placeholder="Ex. 100" #input formControlName="address">
                        <div *ngIf="studentForm.controls['address'].invalid && (studentForm.controls['address'].dirty || studentForm.controls['address'].touched)"
                            class="alert alert-danger">
                            Address is required
                        </div>
                    </mat-form-field>
                </div>

                <div class="for-group">
                    <mat-form-field class="example-full-width">
                        <mat-label for="dob">Date Of Birth</mat-label>
                        <input matInput placeholder="Ex. 100" #input formControlName="dob">
                        <div *ngIf="studentForm.controls['dob'].invalid && (studentForm.controls['dob'].dirty || studentForm.controls['dob'].touched)"
                            class="alert alert-danger">
                            Date Of Birth is required
                        </div>
                    </mat-form-field>
                </div>

                <div class="for-group">
                    <mat-form-field class="example-full-width">
                        <mat-label for="grade">Grade</mat-label>
                        <input matInput placeholder="Ex. 100" #input formControlName="grade">
                        <div *ngIf="studentForm.controls['grade'].invalid && (studentForm.controls['grade'].dirty || studentForm.controls['grade'].touched)"
                            class="alert alert-danger">
                            Grade is required
                        </div>
                    </mat-form-field>
                </div>
                <div class="text-center">
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </div>
            </form>

        </div>
    </mat-tab>
    <mat-tab label="Modules">
        <!-- ongoing module section -->
        <div class="container">
            <h3>Ongoing Modules</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Module Name</th>
                        <th>Category</th>
                        <th>Grade</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let module of onGoingModule">
                        <td>{{module.name}}</td>
                        <td>{{module.category}}</td>
                        <td>{{module.grade}}</td>
                        <td>{{module.description}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="makeComplete()">Complete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- if ongoingmodule is not null show this section -->
            <div *ngIf="onGoingModule === null && allEndMessgae === false">
                <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedModuleId">
                    <option [value]="-1">Select A Module</option>
                    <option *ngFor="let module of availableModule" [value]="module.id">{{ module.category}}-{{ module.name}}-{{ module.grade}}</option>
                </select>
                <div style="margin: 4px;">
                    <button class="btn btn-primary" (click)="assignModule()">Assign</button>
                </div>
            </div>
        </div>

        <!-- completed module section -->
        <div class="container">
            <h3>completed Modules</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Module Name</th>
                        <th>Category</th>
                        <th>Grade</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let module of completedModule">
                        <td>{{module.name}}</td>
                        <td>{{module.category}}</td>
                        <td>{{module.grade}}</td>
                        <td>{{module.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </mat-tab>
</mat-tab-group>