table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .example-card {
    padding-bottom: 5%;
  }

  .custom-modalbox {
    mat-dialog-container {
        padding: 0;
    }
}