<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3>Login Here</h3>
    
        <label for="username">Username</label>
        <!-- <input type="text" placeholder="Email or Phone" id="username"> -->
       
            <input matInput placeholder="Username" formControlName="username" id="username">
        
    
    
        <label for="password">Password</label>
        <!-- <input type="password" placeholder="Password" id="password"> -->
    
        
            <input type="password" matInput placeholder="Password" formControlName="password" id="password">
     
    
        <button type="submit">Login</button>
    
    </form>
</body>