

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: black;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  
 
  #right {
    position: absolute;
    right: 0;
  }

  .btn{
    color: white;
  }

  /* mat-drawer{
    background-color: rgb(89, 89, 89);
    opacity: 0.5;

  }

  mat-drawer-content{
    background-color: royalblue;
  } */

  
